@model IndexViewModel
@{
    
    ViewData["Title"] = "Home Page";
}



<div class="text-center">


    <h1 class="display-4">Website customer chat</h1>
    @{
        if (!Model.ConfigurationFileExists)
        {
            <h2>Website Customer chat is not installed</h2>
            <a href="/install"><button>Install now</button></a>
        }
        else
        {
            //TODO: login page
        }
    }
    
</div>
