
@model LoggedInViewModel
@{
    ViewData["Title"] = "Install";
    
}

<link rel="stylesheet" href="~/css/AdminChatPage.css" />

<div>
   
    <div id="chatPage">
    <div id="chatUsers">
         

    </div>
    <div id="chatBody"></div>

    </div>













  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.4/signalr.min.js"></script>
  <script src="/js/chatter.js"></script>
  </div>