@page
@model WebsiteCustomerChat.Pages.LoginModel
@{
    <form method="post">
        <input type="text" name="Name" />
        <input type="email" name="Email" />
        <button type="submit">Submit</button>
    </form>

}
